/*====================
background styles
======================*/
.background {
  height: 80%;
  width: 100%;
  z-index: -2;
  position: absolute;
}

/*====================
header styles
======================*/
h1 {
  color: rgba(0, 0, 0, 0.767);
  margin: 0;
  text-align: center;
  color: #0b0d0e;
  padding: 20px;
}

.header h3,
.weather-display {
  color: #E8E8E8;
  margin: 0;
}

.header {
  /* background-color: #30475E; */
  background-color: #0B3954;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 20%;
  z-index: 10;
  /* position: absolute;
  top: 0; */
}

.header-wrapper {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* width: 800px; */
  width: 100%;
}

.title-box {
  padding: 5px;
}

.date-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.date-box {
  color: #e8e8e8;
  height: 30px;
  width: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* margin: 0 100px; */
}

/*====================
search bar styles
======================*/
.search-bar-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search-icon {
  height: 30px;
  width: 30px;
}

.search-button {
  width: 46px;
  height: 46px;
  border: 0;
  border-left: 1px solid #0B3954;
  background-color: #748CAB;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.search-button:hover {
  border: 1px solid #748CAB;
  background-color: whitesmoke;
}

.search-bar {
  padding: 13.5px;
  width: 400px;
}

/*====================
content wrapper styles
======================*/
.content-wrapper {
  padding: 10px;
  min-width: 320px;
  /* max-width: 400px; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-section {
  width: 90%;
  z-index: 100;
  position: absolute;
  top: 70%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*====================
content styles
=======================*/
.place-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.place {
  text-align: left;
  color: #fff;
  font-size: 32px;
  font-weight: 500;
}

.section-a {
  padding-top: 10px;
}

.form {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  padding: 5px;
}

.date {
  color: #E8E8E8;
  font-size: 16px;
  text-align: center;
  width: 100%;
}

.main {
  max-width: 400px;
  margin: auto;
}

.error {
  color: red;
  text-align: left;
}

.temp {
  color: #e8e8e8;
  font-size: 30px;
  font-weight: 100;
  text-align: left;
}

.humidity {
  color: #e8e8e8;
  font-size: 30px;
  font-weight: 100;
}

.conditions {
  text-align: left;
  color: #e8e8e8;
  font-size: 32px;
  font-weight: 700;
  font-style: italic;
}

.country {
  color: #e8e8e8;
  font-size: 32px;
  font-weight: 500;
  text-align: left;
}

/* .error {
  width: 100px;
  height: 100px;
  background-color: blue;
} */
.show {
  display: none;
}

.weather-display {
  z-index: 10;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 261px;
  max-width: 500px;
  width: 90%;
  background: -webkit-gradient(linear, left bottom, right top, from(#0B3954), to(#2E86AB));
  background: linear-gradient(to top right, #0B3954, #2E86AB);
}

label {
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
}

p {
  color: #E8E8E8;
}

/*====================
media queries
======================*/
@media (max-width: 866px) {
  .header {
    height: 200px;
  }
}

@media (max-width: 466px) {
  .search-bar {
    width: 250px;
  }
}

@media (max-width: 300px) {
  .search-bar {
    width: 200px;
  }
}

@media (max-width: 346px) {
  .content-wrapper {
    min-width: 200px;
  }
}

@media (max-width: 497.5px) {
  .place-box {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .temp {
    text-align: center;
  }
  .conditions {
    text-align: center;
  }
  .place {
    text-align: center;
  }
  .content-wrapper {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.search-bar-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
/*# sourceMappingURL=style.css.map */